body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.logo {
  max-width: 100px;
  margin-top: 15px;
}

.main-layout {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #363a45;
  height: 100vh;
  margin-right: 15px;
  /* overflow-y: scroll; */
  text-align: center;
  width: 250px;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: grey;
  transition: all .3s ease-out;
}