/* -------------------SCROLLBAR DEL NAVEGADOR---------------------- */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track - Fondo */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle - Barra */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Handle on active - Click en la barra */
::-webkit-scrollbar-thumb:active {
  background-color: #1d1c1c;
}